streamlit>=1.32
streamlit-mic-recorder

numpy
pandas

openai-whisper
faster-whisper

requests
google-generativeai

torch
torchaudio
torchvision
transformers

librosa
soundfile

jiwer
gTTS

plotly
openpyxl
reportlab